/samples/project_template/.idea
/samples/project_template/.idea/project_ucLM3S1165.iml
/samples/project_template/Ozone/project_ozone.jdebug
/samples/project_template/Ozone/project_ozone.jdebug.user
/samples/project_template/cmake-build-debug
/samples/project_template/cmake-build-debug-arm-embedded-toolchain-10202110/